extends ../admin

block panel
  div
    h3 Overview
      hr
    p
      | New Tickets Since Your Last Login:
      a(href='#') 10
    p
      | Tickets That Belong To You:
      a(href='#') 5
      br
      br
      br
      h4 Expired Tickets
      hr
      br
      br
      br
      h4 Tickets Due Today
      hr
      br
      br
      br
      h4 Assigned Tickets
      hr