extends layout

block content
    if session.role != "Admin" && session.role != "Manager" && session.role != "IT User"
        script(type='text/javascript').
            console.log("error: not logged in");
            window.location.replace('/');
    else
        script(src='/javascripts/socket.io.js')
        script(src='/javascripts/ticket_client.js')
        link(rel='stylesheet' href='/font-awesome/css/font-awesome.min.css')
        script(src='/javascripts/textAngular.js')
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        div.container-fluid
            div.navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') Wei To Ticket
            div.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#/overview') Welcome #{session.user}
                    li
                        a(href='/logout') Log Out

    div.container-fluid(ng-app='admin', ng-controller='sessionController')
        div.row
            div.col-sm-3.col-md-2.sidebar.t-spaceIcons(ng-controller="panelController")
                h3 Overview
                ul.nav.nav-sidebar
                    li(ng-class="{active:isActive('/overview')}")
                        a(href="#/overview")
                            span.glyphicon.glyphicon-cloud
                            | Welcome
                    li(ng-class="{active:isActive('/viewtickets')}")
                        a(href="#/viewtickets", ng-click="resetViewParams()")
                            span.glyphicon.glyphicon-th-large
                            | View Tickets
                    li(ng-class="{active:isActive('/newticket')}")
                        a(href="#/newticket")
                            span.glyphicon.glyphicon-plus
                            | New Ticket
                    li(ng-class="{active:isActive('/searchticket')}")
                        a(href="#/searchticket")
                            span.glyphicon.glyphicon-search
                            | Search Ticket
                if session.role != "IT User"
                    h3 Departments
                    ul.nav.nav-sidebar
                        li(ng-repeat="dept in userdept",ng-class="{active:isActive(getDeptUrl(dept))}")
                            a(href="#/viewtickets/department/{{dept}}",ng-click="viewTicketsByDept(dept)")
                                span.glyphicon(ng-class="isActive(getDeptUrl(dept)) ? 'glyphicon-folder-open' : 'glyphicon-folder-close'")
                                | {{ dept }}
                    h3 Control Panel
                    ul.nav.nav-sidebar
                        li(ng-class="{active:isActive('/viewusers')}")
                            a(href="#/viewusers")
                                span.glyphicon.glyphicon-user
                                | View Users
                        li(ng-class="{active:isActive('/newuser')}")
                            a(href="#/newuser")
                                span.glyphicon.glyphicon-certificate
                                | New User
                        li(ng-class="{active:isActive('/viewdepts')}")
                            a(href="#/viewdepts")
                                span.glyphicon.glyphicon-user
                                | View Departments
                        li(ng-class="{active:isActive('/newdept')}")
                            a(href="#/newdept")
                                span.glyphicon.glyphicon-certificate
                                | New Department
                hr
            div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                div(ng-view)

