extends layout

block content
  h1= title
  p Welcome to #{title}

  // SESSIONS TEST
  if user
      p You are logged in as #{user}
      p
      form(method='post', action='/logout')
          input(type='submit', value='Logout')
  else
      form(method='post', action='/login')
          input(type='text', name='username')
          input(type='submit', value='Login')
  // END SESSIONS TEST

  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/ticket_client.js')