doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
    script(src='/javascripts/angular-ui-router.min.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/admin.js')
  body
    div.t-wrapper
      block content

    script(src='/javascripts/bootstrap.min.js')