//created by Matthew Chan
extends layout

block content
  .container
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        div.container-fluid
            div.navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Wei To Ticket
    form.form-signin(role='form', method='post', action='/login')
      h2.form-signin-heading Please sign in
      input.form-control(type='username', name='username', placeholder='Username', required='required', autofocus='autofocus')
      input.form-control(type='password', name='password', placeholder='Password', required='required')
      label.checkbox
        input(type='checkbox', value='remember-me')
        | Remember me
      p(style='color: #F20C27;') #{issue}
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

    //p(style='margin: auto;')
    //  form(method='post', action='/login')
    //    input(type='submit', value='Test Login')
