extends layout
block content
  link(rel='stylesheet', href='/stylesheets/cover.css', type='text/css')
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          h3.masthead-brand Wei to Ticket
          ul.nav.masthead-nav
            li
              a(href='/login') Login
      .inner.cover
        h1.cover-heading Need Help?
        p.lead
          | Click the button below to create a ticket and we will contact you as soon as possible to resolve your issues.
        p.lead
          a.btn.btn-lg.btn-primary(href='/client') Create a Ticket
      .mastfoot
        .inner
          p
            | Created by Team Wei