<div>
    <div>
        <h3>Reply this ticket</h3>
        <hr/>
    </div>
    <reply-ticket>
        <div class="form-signin">
            <form role="form">
                <label for="name">Piority</label><br />
                <select class="dropdown" id="piority">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select><br />
                <label for="name">Status</label><br />
                <select class="dropdown" id="status">
                    <option value="1">Pending</option>
                    <option value="2">Closed</option>
                    <option value="3">Completed</option>
                    <option value="4">Overdue</option>
                </select><br />
                <label for="name">Reply to this ticket</label>
                <textarea class="form-control" rows="4"></textarea><br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </reply-ticket>
</div>

<!--
adminModule.directive('replyTicket', function() {
    return {
        restrict: 'E',
        link: function(scope, element, attrs) {
            //JQuery functions can go in here
            $("#piority").click(function() {
                if($("#piority").val() == "1"){
                    $("#piority").css("background-color", "#FA6666");
                }
                if($("#piority").val() == "2"){
                    $("#piority").css("background-color", "#FF7307");
                }
                if($("#piority").val() == "3"){
                    $("#piority").css("background-color", "#FFEF07");
                }
                if($("#piority").val() == "4"){
                    $("#piority").css("background-color", "#64A227");
                }
                if($("#piority").val() == "5"){
                    $("#piority").css("background-color", "#7EEB12");
                }
                if($("#piority").val() == "6"){
                    $("#piority").css("background-color", "#12ECEC");
                }
            });

        }
    }
});
-->
