<div>
    <div>
        <h3>Ticket Information</h3>
        <hr/>
    </div>
    <div class="form-reply">
        <form role="form">
            <div class = "replyTicket">

                <p>Ticket ID: {{ id }}</p>
                <p>Title: {{ title }}</p>
                <p>Department: {{ department }}</p>
                <p>Priority: {{ priority }}</p>
                <p>Due Date: {{ due_date }}</p>
                <br/>

                <p>Author: {{ author }}</p>
                <p>Author's Email: {{ email }}</p>
                <p>Date Created: {{ create_date }}</p>
                <br/>

                <p>Assigned To: {{ assigned_to }}</p>
                <p>Altered By: {{ altered_by }}</p>
                <p>Date Altered: {{ altered_date }}</p>

                <hr/>
                <p>Description: {{ body }}</p><br />
            </div><br />
            <div class = "replyTicket">
                <label for="name">Reply 1</label>
                <hr />
                <label for="name">Reply 2</label>
                <hr />
                <label for="name">Reply 3</label>
            </div><br />

            <button class="btn btn-lg btn-primary btn-block" type="submit">New Reply</button>

        </form>
    </div>
</div>