<!-- created by Danny -->

<h3>Ticket Information</h3>
<hr/>

<div class="form-reply">
    <form role="form">
        <div class = "ticketList col-md-12">
            <table>
                <tr><th class="col-md-2">Ticket Number:</th><th class="col-md-10">{{ id }} </th></tr>

                <tr><p><td style="font-style:italic; letter-spacing:1px;">Title</td><td>{{ title }}</td></p></tr>
                <tr><p><td style="font-style:italic; letter-spacing:1px;">Department</td><td> {{ department }}</td></p></tr>
                <tr><p><td style="font-style:italic; letter-spacing:1px;">Priority</td><td> {{ priority }}</td></p></tr>
                <tr><p><td style="font-style:italic; letter-spacing:1px;">Due Date</td><td> {{ due_date }}</td></p></tr>

                <tr><p><td style="font-style:italic;letter-spacing:1px;">Author</td><td> {{ author }}</td></p></tr>
                <tr><p><td style="font-style:italic; letter-spacing:1px;">Author's Email</td><td> {{ email }}</td></p></tr>
                <tr><p><td style="font-style:italic; letter-spacing:1px;">Date Created</td><td> {{ create_date }}</td></p></tr>

                <tr><p><td style="font-style:italic; letter-spacing:1px;">Assigned To</td><td> {{ assigned_to }}</td></p></tr>
                <tr><p><td style="font-style:italic; letter-spacing:1px;">Altered By</td><td> {{ altered_by }}</td></p></tr>
                <tr><p><td style="font-style:italic; letter-spacing:1px;">Date Altered</td><td> {{ altered_date }}</td></p></tr>

                <tr><p><td style="font-style:italic; letter-spacing:1px;">Description</td><td ng-bind-html="body_htmlSafe"> </td></p></tr>
            </table>
        </div>
        <div style="clear:both"></div>
        <br />
        <button id="toggleReply" class="btn btn-lg btn-primary btn-block" type="submit"
                style="width: 200px; margin: auto;"
                ng-click="toggleReply()">
            New Reply
        </button>

        <div ng-hide="showReply == false">
            <br/>
            <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent"></div>
            <div style="color: #f5001d; font-style: italic; text-align: center;">{{ errorMsg_desc }}</div><br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit"
                    style="width: 200px; margin: auto;"
                    ng-click="submitReply()">
                Submit
            </button>
        </div>

        <h3>Replies</h3>
        <hr/>

        <ticket-replies>
            <div class="media">
                <div class="media-body" ng-repeat="reply in replies"
                     style="border: 1px solid #A8A8A8; margin-bottom: 10px; padding: 8px; padding-bottom: 20px;">
                    <h4 class="media-heading"
                        style="height: 35px; letter-spacing: 2px;">
                        <span>
                            Posted by {{ reply.name }} - {{ reply.create_date }}
                        </span>
                    </h4>
                    <span ng-bind-html="reply.description"></span>
                </div>
            </div>
        </ticket-replies>
    </form>
</div>