<div>
    <div>
        <h3>Ticket Information</h3>
        <hr/>
    </div>
    <div class="form-reply">
        <form role="form">
            <div class = "replyTicket">
                <label for="name">Ticket number: 1</label><br />
                <label for="name">Assigned to: John Smith</label><br />
                <label for="name">Date: Jun/04/2014</label><br />
                <hr/>
                <label for="name">Discription: Mouse not working</label><br />
            </div><br />
            <div class = "replyTicket">
                <label for="name">Reply 1</label>
                <hr />
                <label for="name">Reply 2</label>
                <hr />
                <label for="name">Reply 3</label>
            </div><br />

            <button class="btn btn-lg btn-primary btn-block" type="submit">New Reply</button>

        </form>
    </div>
</div>