<div>
    <div>
        <h3>View Users</h3>
        <hr/>

        <div id="usersList" class="ticketList">
            <table>
                <tr>
                    <th style="width: 75px"></th>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Password</th>
                    <th>Role</th>
                </tr>

                <view-users>
                    <tr ng-repeat="user in mainusers">
                        <td><a href="" ng-click="deleteUser(user.id)">Delete</a></td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.type }}</td>
                    </tr>
                </view-users>
            </table>
        </div>
    </div>
</div>