<div>
    <div>
        <h3>View Departments</h3>
        <hr/>

        <div id="deptsList" class="ticketList" style="width: 50%;">
            <table>
                <tr>
                    <th style="width: 75px;"></th>
                    <th>Dept. Name</th>
                    <th>Managers</th>
                </tr>

                <view-depts>
                    <tr ng-repeat="dept in departments">
                        <td><a href="deleteDept({{ dept.id }})">Delete</a></td>
                        <td>{{ dept }}</td>
                        <td><span ng-repeat="manager in dept">{{ manager }}&nbsp;</span></td>
                    </tr>
                </view-depts>
            </table>
        </div>
    </div>
</div>