<div>
    <div>
        <h3>View Tickets</h3>
        <hr/>

        <div id="mainTickets" class="ticketList">
            <table>
                <tr>
                    <th>Priority</th>
                    <th>Title</th>
                    <th>Department</th>
                    <th>Assigned To</th>
                    <th>Date Created</th>
                    <th>Date Altered</th>
                </tr>

                <view-tickets>
                    <tr ng-repeat="ticket in newtickets">
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.dept }}</td>
                        <td>{{ ticket.assignedTo }}</td>
                        <td>{{ ticekt.dateCreated }}</td>
                        <td>{{ ticket.dateAltered }}</td>
                    </tr>

                    <tr ng-repeat="ticket in maintickets">
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.dept }}</td>
                        <td>{{ ticket.assignedTo }}</td>
                        <td>{{ ticket.dateCreated }}</td>
                        <td>{{ ticket.dateAltered }}</td>
                    </tr>
                </view-tickets>
            </table>
        </div>
    </div>
</div>