<div>
    <div>
        <h3>View Tickets</h3>
        <hr/>

        <div id="mainTickets" class="ticketList">
            <table>
                <view-tickets>
                    <tr>
                        <th style="display: width: 110px"></th>
                        <th>Priority</th>
                        <th>Title</th>
                        <th>Department</th>
                        <th>Assigned To</th>
                        <th>Date Due</th>
                        <th>Date Completed</th>
                    </tr>

                    <tr ng-repeat="ticket in newtickets">
                        <td><a href="#/viewtickets/ticket/{{ ticket.hash }}/{{ ticket.isArchive }}">Detail</a>
                            <span style="display: {{ displayProp }};">| <a href="deleteTicket({{ ticket.hash }}, {{ ticket.isArchive }})">Delete</a></span></td>
                        <td style="display: flex; justify-content: space-around; align-items: center;">{{ ticket.priority }}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.department }}</td>
                        <td>{{ ticket.assigned_to }}</td>
                        <td>{{ ticket.due_date }}</td>
                        <td>{{ ticket.complete_date }}</td>
                    </tr>

                    <tr ng-repeat="ticket in maintickets">
                        <td><a href="#/viewtickets/ticket/{{ ticket.hash }}/{{ ticket.isArchive }}">Detail</a>
                            <span style="display: {{ displayProp }};">| <a href="deleteTicket({{ ticket.hash }}, {{ ticket.isArchive }})">Delete</a></span></td>
                        <td style="display: flex; justify-content: space-around; align-items: center;">{{ ticket.priority }}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.department }}</td>
                        <td>{{ ticket.assigned_to }}</td>
                        <td>{{ ticket.due_date }}</td>
                        <td>{{ ticket.complete_date }}</td>
                    </tr>
                </view-tickets>
            </table>
        </div>
    </div>
</div>