<div id="welcome">
    <p id="welcomeUser"></p>
    <p id="newTickets" style="display: none;"></p>
    <p id="totalTickets" style="display: none;"></p>
    <p id="newAssigned" style="display: none;"></p>
    <p id="totalAssigned" style="display: none;"></p>
</div>

<div id="adminHome" class="homeTickets" style="display: none;">
    <h4>Tickets Nearly Due</h4>
    <hr class="homeHr">
    <div id="admin1" class="ticketList"></div>

    <br>
    <h4>Expired Tickets</h4>
    <hr class="homeHr">
    <div id="admin2" class="ticketList"></div>

    <br>
    <h4>Most Recent Tickets</h4>
    <hr class="homeHr">
    <div id="admin3" class="ticketList"></div>
</div>

<div id="managerHome" class="homeTickets" style="display: none;">
    <h4>Tickets Nearly Due</h4>
    <hr class="homeHr">
    <div id="manager1" class="ticketList"></div>

    <br>
    <h4>Expired Tickets</h4>
    <hr class="homeHr">
    <div id="manager2" class="ticketList"></div>

    <br>
    <h4>Most Recent Tickets</h4>
    <hr class="homeHr">
    <div id="manager3" class="ticketList"></div>
</div>

<div id="ituserHome" class="homeTickets" style="display: none;">
    <h4>Tickets Nearly Due</h4>
    <hr class="homeHr">
    <div id="ituser1" class="ticketList"></div>

    <br>
    <h4>Expired Tickets</h4>
    <hr class="homeHr">
    <div id="ituser2" class="ticketList"></div>

    <br>
    <h4>Recently Assigned</h4>
    <hr class="homeHr">
    <div id="ituser3" class="ticketList"></div>
</div>

<script src="/javascripts/home.js" />