<div id="welcome">
    <p id="welcomeUser"></p>
    <p id="newTickets" style="display: none;"></p>
    <p id="totalTickets" style="display: none;"></p>
    <p id="newAssigned" style="display: none;"></p>
    <p id="totalAssigned" style="display: none;"></p>
</div>

<div id="adminHome" style="display: none; margin-top: 25px;">
    <h4>Tickets Nearly Due</h4>
    <hr>
    <div id="admin1"></div>

    <br><br><br>
    <h4>Expired Tickets</h4>
    <hr>
    <div id="admin2"></div>

    <br><br><br>
    <h4>Most Recent Tickets</h4>
    <hr>
    <div id="admin3"></div>
</div>

<div id="managerHome" style="display: none; margin-top: 25px;">
    <h4>Tickets Nearly Due</h4>
    <hr>
    <div id="manager1"></div>

    <br><br><br>
    <h4>Expired Tickets</h4>
    <hr>
    <div id="manager2"></div>

    <br><br><br>
    <h4>Most Recent Tickets</h4>
    <hr>
    <div id="manager3"></div>
</div>

<div id="itUserHome" style="display: none; margin-top: 25px;">
    <h4>Tickets Nearly Due</h4>
    <hr>
    <div id="itUser1"></div>

    <br><br><br>
    <h4>Expired Tickets</h4>
    <hr>
    <div id="itUser2"></div>

    <br><br><br>
    <h4>Recently Assigned</h4>
    <hr>
    <div id="itUser3"></div>
</div>

<script src="/javascripts/home.js" />