<div class="container">
    <form class="form-signin2" role="form">
        <h3 class="form-signin-heading">Create a New Ticket</h3>
        <hr>
            <div class="row">
                <div class="form-group col-xs-10 col-sm-12 col-md-6">
                    <label for="name">Title</label>
                    <input type="text" class="form-control input-lg" ng-model="title" id="subject" placeholder="Subject"><br/>
                    <span style="color: #f5001d; font-style: italic;">{{ errorMsg_title }}</span>
                </div>

                <div class="form-group col-xs-10 col-sm-6 col-md-3">
                    <label class="control-group">Department</label><br/>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:125px;height:50px">
                            {{ dept }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="dept in departments"><a href="" ng-click="setDept(dept)">{{ dept }}</a></li>
                        </ul>
                    </div><br/>
                    <span style="color: #f5001d; font-style: italic;">{{ errorMsg_dept }}</span>
                </div>

                <div class="form-group col-xs-10 col-sm-6 col-md-3">
                    <label class="control-label">Priority</label><br/>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:90px;height:50px">
                            {{ priority }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="setPriority(1)">1</a></li>
                            <li><a href="" ng-click="setPriority(2)">2</a></li>
                            <li><a href="" ng-click="setPriority(3)">3</a></li>
                            <li><a href="" ng-click="setPriority(4)">4</a></li>
                            <li><a href="" ng-click="setPriority(5)">5</a></li>
                            <li><a href="" ng-click="setPriority(6)">6</a></li>
                        </ul>
                    </div><br/>
                    <span style="color: #f5001d; font-style: italic;">{{ errorMsg_priority }}</span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-8 col-sm-6 col-md-3">
                    <label for="name">First Name</label>
                    <input type="text" class="form-control input-lg"
                           ng-model="firstname" id="firstname" placeholder="Your first name"><br/>
                    <span style="color: #f5001d; font-style: italic;">{{ errorMsg_firstname }}</span>
                </div>

                <div class="form-group col-xs-8 col-sm-6 col-md-3">
                    <label for="name">Last Name</label>
                    <input type="text" class="form-control input-lg"
                           ng-model="lastname" id="lastname" placeholder="Your last name"><br/>
                    <span style="color: #f5001d; font-style: italic;">{{ errorMsg_lastname }}</span>
                </div>

                <div class="form-group col-xs-10 col-sm-12 col-md-6">
                    <label for="name">Email Address</label>
                    <input type="text" class="form-control input-lg" ng-model="email" placeholder="Your email address"><br/>
                    <span style="color: #f5001d; font-style: italic;">{{ errorMsg_email }}</span>
                </div>
            </div>

            <div class='row'>
                <div class="container app col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="name">Description of Issue</label>
                    <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent"></div>
                </div>
            </div><br/><br/>

            <button class="btn btn-lg btn-primary btn-block"
                style="width: 300px; margin: auto;"
                ng-click="submit()" id="submitbutton">Submit Ticket</button><br/>
    </form>
</div>