<!DOCTYPE html>
<html>
<head>
    <title>New ticket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href = "stylesheets/bootstrap.css" rel ="stylesheet">
    <link href="stylesheets/newuser.css" rel="stylesheet">
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-sanitize.min.js'></script>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>

</head>
<body>
<!-- <div class = "navbar navbar-inverse navbar-static-top"><h4 style="color:grey; margin-left:15px; margin-top:15px">Wei To Ticket</h4></div>
--><div class="container">
    <form class="form-signin" role="form">
        <h3 class="form-signin-heading">Hello, Create a new ticket</h3>
        <hr>
        <div style="float:left">
            <label for="name">Firstname</label>
            <input type="text" class="form-control" id="firstname" placeholder="John" style="width:150px" required autofocus>
        </div>
        <div style="float:left;margin-left:10px">
            <label for="name">Lastname</label>
            <input type="text" class="form-control" id="lastname" placeholder="Smith" style="width:150px" required>
        </div>
        <div style="float:left;margin-left:10px">
            <label for="name">Email</label>
            <input type="email" class="form-control" placeholder="JSmith@mail.com" style="width:230px" required>
        </div>
        <div style="float:left;margin-left:10px">
            <label for="name">Department</label><br />
            <select class="dropdown" id="assignuser" style="margin-top:1px;height:43px">
                <option value="1">HR</option>
                <option value="2">IT</option>
                <option value="3">Marketing</option>
                <option value="4">Customer Service</option>
            </select>
        </div>
        <div style="clear:both;"></div><br />
        <div style="float:left">
            <label for="name">Subject</label>
            <input type="text" class="form-control" id="subject" style="width:550px" placeholder="Subject" required>
        </div>
        <div style="float:left;margin-left:10px">
            <label for="name">Piority</label><br />
            <select class="dropdown" id="piority" style="margin-top:1px;height:43px" onclick="pioritycolor()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <div style="clear:both;"></div><br />
        <div ng-app="textAngularTest" ng-controller="wysiwygeditor" class="container app" style="margin-left:-13px;width:880px">
            <label for="name">Issue discription</label>
            <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" style="width:710px;margin-left:-2px"></div>
            <textarea class="form-control" rows="5" style="width:710px"></textarea><br>
        </div>
        <!--textarea class="form-control" rows="5" style="width:553px"></textarea><br /-->


        <script>
            function pioritycolor(){
                //alert($("#piority").val());
                if($("#piority").val() == "1"){
                    $("#piority").css("background-color", "#B31212");
                }
                if($("#piority").val() == "2"){
                    $("#piority").css("background-color", "#FF7307");
                }
                if($("#piority").val() == "3"){
                    $("#piority").css("background-color", "#FFEF07");
                }
                if($("#piority").val() == "4"){
                    $("#piority").css("background-color", "#64A227");
                }
                if($("#piority").val() == "5"){
                    $("#piority").css("background-color", "#7EEB12");
                }
                if($("#piority").val() == "6"){
                    $("#piority").css("background-color", "#12ECEC");
                }

            }


            angular.module("textAngularTest", ['textAngular']);
            function wysiwygeditor($scope) {
                $scope.orightml = '';
                $scope.htmlcontent = $scope.orightml;
                $scope.disabled = false;

            };

        </script>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submitbutton">Submit</button>
    </form>
</div>
<script src='js/textAngular.js'></script>
<script src = "js/jquery-1.9.1.js"></script>
<script src = "js/bootstrap.js"></script>

</body>

</html>