<div>
    <div>
        <h3>Submitted Ticket</h3>
        <hr/>

        <div id="mainTickets" class="ticketList">
            <table>
                <view-tickets>
                    <tr>
                        <th style="display: {{ displayProp }}; width: 100px"></th>
                        <th>Priority</th>
                        <th>Title</th>
                        <th>Department</th>
                        <th>Assigned To</th>
                        <th>Date Created</th>
                        <th>Date Altered</th>
                    </tr>
                </view-tickets>
            </table>
        </div>
    </div>
</div>